.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container2 {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
/* Navbar */
.navbar {
  background-color: #fff45c;
  overflow: hidden;
  position: fixed;
  opacity: 75%;
  width: 100%;
}
.logoresize {
  img {
    width: 50px;
    height: 50px;
  }
}
body {
  background-color: #a191e3;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  margin-top: 54px;
}

.image-contain {
  height: 300px;
  object-fit: contain;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 20px;
}

.navbar ul li a:hover {
  background-color: #a191e3;
  color: #12130f;
}

/* Hero Image  */

.hero {
  position: static;
  background-image: url("https://maisonlaw.com/wp-content/uploads/2021/11/highway-g876e76d4a_1280.jpg"); /* Replace with your hero image URL */
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px white solid;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 50px;
  margin: 0;
}

.hero-text p {
  font-size: 20px;
  margin: 10px 0 0;
}

/* Grid */

.info-container {
  height: 525px;
  justify-content: space-between;
  align-content: center;
  display: grid;
  width: fit-content;
  border: 2px white solid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #a191e3;
}

.info-box {
  display: flex;
  img {
    width: auto;
    height: 200px;
  }
  flex-direction: column;
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.info-header {
  text-align: center;
  grid-column: span 3;
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.map-container {
  border: 2px white solid;
  width: auto;
  justify-content: space-between;
  display: flex;
  grid-template-columns: 1fr 1fr;
  background-color: #a191e3;
}

.maps {
  width: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team-members {
  border: 2px white solid;
  width: auto;
  justify-content: space-between;
  display: flex;
  grid-template-columns: 1fr 1fr;
  background-color: #a191e3;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
}

/* media queries */
@media screen and (max-width: 900px) {
  .info-container {
    height: auto;
    grid-template-columns: 1fr;
  }
  .team {
    flex-direction: column;
    height: fit-content;
  }
  .map-container {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .maps {
    flex-direction: column;
    height: fit-content;
  }

  .team-members {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
  }